body {
  background-color: #262626;
}
.style-header-1 {
  font: bold 20px Verdana, Helvetica, Tahoma;
  color: #fddae5;
}
.style-main-1 {
  font: normal 16px Verdana, Helvetica, Tahoma;
  color: #cccccc;
}
.style-main-2 {
  font: bold 20px Verdana, Helvetica, Tahoma;
  color: #cccccc;
}
.style-about {
  font: normal 10px Verdana, Helvetica, Tahoma;
  color: white;
  border: solid 2px #020202;
  border-radius: 10px 10px;
  padding: 0px 5px;
}
hr.style-one {
  border: 0;
  height: 1px;
  background: #4b4b4e;
}
.footer {
  background-color: #4b4b4e;
  color: black;
  font: italic bold 10px Tahoma, Helvetica, Verdana;
  padding: 1px 1px;
  border-radius: 5px 5px;
}
