@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::after {
  display: inline-flex;
  content: "";
  background-color: #4a90e2;
  width: 25px;
  height: 30px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-left: 0.5em;
}

h1::before {
  display: inline-flex;
  content: "";
  background-color: #4a90e2;
  width: 25px;
  height: 30px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-right: 0.5em;
}

/* 
selector for the left semicircle, selector for the right semicircle {
  /* properties of both semicircles:  */
/* - Winc-blue background ... background:#4A90E2; */
/* - content is empty string  */
/* - display... block? Inline-block? */
/* - how many px should the height be? */
/* - how many px should the width be? */
/* - absolute position */

/* selector for the left semicircle {  
/* border radius, generator: <http://border-radius.com/> */
/* Position your semicircle using left and top */

/* selector for the right semicircle {  
/* border radius, generator: <http://border-radius.com/> */
/* Position your semicircle using left and top */
