body {
  background-color: #424242;
}
a:link {
  color: white;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.top_header {
  font: bold 20px Verdana, Helvetica, Tahoma;
  color: #fddae5;
  border: solid 2px #fddae5;
  border-radius: 10px 10px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  text-align: center;
}
.nav_padding {
  padding: 0;
}
.navigation {
  font: normal 20px Verdana, Helvetica, Tahoma;
  color: white;
  list-style-type: none;
}
.navigation li {
  display: inline;
}
.navigation a {
  text-decoration: none;
}
.style-main-1 {
  font: normal 16px Verdana, Helvetica, Tahoma;
  color: #cccccc;
}
.style-main-2 {
  font: bold 20px Verdana, Helvetica, Tahoma;
  color: #fddae5;
  margin: 5px;
  padding: 0px;
}
.style-main-2 a:visited {
  color: rgb(162, 45, 167);
}
hr.style-one {
  border: 0px;
  height: 1px;
  background: #4b4b4e;
}
.footer {
  background-color: #424242;
  color: #fddae5;
  font: italic bold 10px Tahoma, Helvetica, Verdana;
  border: solid 2px #fddae5;
  border-radius: 10px 10px;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .style-main-1 {
    font: normal 10px Verdana, Helvetica, Tahoma;
    line-height: 200%;
    color: #0a0a0a;
  }
  body {
    background-color: #8f8f8f;
  }
}
