body {
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "sh"
    "sm"
    "sa"
    "sf";
}
.site-header {
  background-color: lightblue;
  grid-area: sh;
}
.site-main {
  background-color: green;
  grid-area: sm;
}
.site-area {
  background-color: blueviolet;
  grid-area: sa;
}
.site-footer {
  background-color: darkblue;
  grid-area: sf;
}

@media (max-width: 400px) {
  .container {
    grid-template-columns: 1fr
    grid-template-areas:
      "sh sh sh sh"
      "sm sm sm sm"
      "sm sm sm sm"
      "sm sm sm sm"
      "sm sm sm sm"
      "sm sm sm sm"
      "sm sm sm sm"
      "sa sa sa sa"
      "sa sa sa sa"
      "sa sa sa sa"
      "sa sa sa sa"
      "sf sf sf sf";
  }


/* 
@media screen and (max-width: 400px) {
  .text h1 {
    color: rgb(212, 176, 99);
  } */

/* .container {
    grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
    height: 640px;
    width: 360px;
    grid-gap: 0.3em;
  } 
}
 @media only screen and (max-width: 1000px) {
  .text h1 {
    color: rgb(99, 212, 123);
  }
  .mobile-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 640px;
    width: 360px;
    grid-gap: 0.3em;
  }
} */
