@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c3cfe2;
  height: 100%;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2em;
  width: 500px;
  height: 650px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
}

.card__top {
  height: 65%;
  padding: 50px;
}

.card p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.card__image {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 50%;
  height: 170px;
  margin-top: 1.5em;
  border: 8px solid #fff;
}

.card__image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  height: 35%;
  background: #686de0;
}

.card__text-bottom {
  font-family: "Roboto", sans-serif;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.5em;
}

.card__text-bottom h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
}

.card__text-bottom h2 {
  margin-top: 0.5em;
  font-size: 1.4em;
  font-weight: lighter;
  color: #b3b6fa;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 80px;
}

.social a:visited {
  color: #fff;
}

.social__icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
  line-height: 60px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  color: #fff;
}

.social__icons:hover {
  cursor: pointer;
  width: 250px;
}

.social span {
  text-align: center;
  margin-left: 20px;
  font-size: 0.8rem;
  text-decoration: underline;
  float: left;
}

.social__blog::before {
  content: "\f5fc";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: left;
  margin-left: 15px;
}

.social__icons:nth-child(1) {
  background-color: #e17b77;
}

.social__twitter::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  float: left;
  margin-left: 20px;
}

.social__icons:nth-child(2) {
  background-color: #00aced;
}

.social__linkedin::before {
  content: "\f08c";
  font-family: "Font Awesome 5 Brands";
  float: left;
  margin-left: 19px;
}

.social__icons:nth-child(3) {
  background-color: #007bb6;
}

.social__facebook::before {
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  float: left;
  margin-left: 23px;
}

.social__icons:nth-child(4) {
  background-color: #3b5998;
}

.social__github::before {
  content: "\f09b";
  font-family: "Font Awesome 5 Brands";
  float: left;
  margin-left: 18px;
}

.social__icons:nth-child(5) {
  background-color: #333;
}
/*# sourceMappingURL=style.css.map */