@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
li,
button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}
li {
  text-align: -webkit-match-parent;
  color: black;
}

header {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

main {
  display: block;
}

.container {
  width: 100%;
}

.top-header {
  margin: 10px;
  order: 0;
  gap: 2em;
}
.logo-header {
  display: block;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}
.logo-header h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  color: black;
}
.text-logo {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-weight: lighter;
  font-size: 45px;
  color: #79aa8d;
}

nav {
  display: block;
}
.navbar {
  text-align: center;
}
.nav-item {
  display: inline-block;
  margin-top: 10px;
}
.nav-link {
  color: black;
  font-size: 20px;
  margin: 0px 10px;
}

.crumb-container {
  display: flex;
  padding: 10px 20px;
  align-items: baseline;
}
.crumb-container h3 {
  display: flex;
  color: black;
  vertical-align: middle;
}
.breadcrumb {
  display: flex;
  align-items: baseline;
  margin: auto;
  margin-right: 0;
  padding: 0px 5px;
}
.visit-shop,
.home {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin: 0px 5px;
}

.banner-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 10px #0005;
}
.banner-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.banner-image img {
  margin: 10px 0px 0px 10px;
  height: 50%;
  width: 50%;
  float: right;
}
.content-banner {
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1px;
  margin: 2em 0em 0em 2em;
}
.content-banner p {
  color: black;
  font-size: 30px;
}
.text-banner {
  font-family: "Poppins", sans-serif;
  color: #81a05a;
  font-weight: bold;
}
.button-shop {
  cursor: pointer;
  display: flex;
  margin-top: 10px;
}
button {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  color: rgb(19, 18, 18);
  background-color: #81a05a;
  transition: all 0.3s ease 0s;
}
button:hover {
  color: black;
  background-color: #9dc26f;
}

.news-container-shop {
  display: flex;
  padding: 10px 10px;
  overflow: hidden;
  max-height: 150px;
  height: 100%;
  width: 100%;
}
.news-image-shop {
  position: relative;
  border-radius: 1em;
}
.news-image-shop img {
  object-fit: cover;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  mask-size: 500px;
}
.news-text-shop {
  display: block;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;

  padding: 1em;
}
.news-text-shop h1 {
  color: black;
  font-size: 24px;
}
.news-text-shop h3 {
  color: black;
  font-size: 16px;
  margin-left: 40px;
  margin-top: 10px;
}

.discover h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700px;
  display: block;
  margin: 10px 0px;
  padding-top: 20px;
}
.gallery-wrapper {
  display: grid;
  box-sizing: border-box;
  grid-gap: 30px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  grid-template-areas:
    "a b"
    "c d";
}
.gallery-image {
  max-height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 1em;
  width: 100%;
}
.gallery-item-a {
  align-self: center;
  justify-self: center;
  grid-area: a;
}
.gallery-item-b {
  align-self: center;
  justify-self: center;
  grid-area: b;
}
.gallery-item-c {
  align-self: center;
  justify-self: center;
  grid-area: c;
}
.gallery-item-d {
  align-self: center;
  justify-self: center;
  grid-area: d;
}
.text-grid {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.price-grid {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.stars-grid {
  margin-top: 1em;
}
.checked {
  color: rgb(255, 197, 89);
}

.news-container {
  display: flex;
  padding: 10px;
  width: 100%;
  margin-top: 2em;
  justify-content: center;
}
.news-image {
  position: relative;
  border-radius: 1em;
  height: 200px;
  width: 350px;
}
.news-image img {
  object-fit: cover;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
.news-text {
  display: block;
  position: absolute;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bolder;
  margin-top: 2em;
  padding: 1em;
}
.news-text h1 {
  color: white;
  font-size: 24px;
}
.news-text h3 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

.visit-container {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #e4e9e2;
  margin-top: 2em;
  height: 250px;
  width: 100%;
}
.visit-profile {
  display: block;
  margin-left: auto;
  align-self: flex-end;
  padding: 30px;
}
.visit-profile img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.visit-plant {
  display: none;
}
.visit-text {
  align-self: flex-start;
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: #000000;
  padding: 30px;
}
.visit-text h1 {
  font-size: 25px;
}
.visit-text p {
  display: none;
}
a.visit-about {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin-top: 1em;
}
a:hover,
a:visited {
  color: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  background-color: rgb(44, 44, 44);
}
.footer-top {
  display: block;
  padding: 25px 25px;
}
.footer-col {
  width: 100%;
  margin-bottom: 30px;
}
.footer-col h1,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-col li {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  cursor: pointer;
}
.footer-col p {
  font-size: 12px;
  font-weight: lighter;
}

.footer-logo {
  color: white;
}
.social-icons {
  color: #c2c2c2;
  width: 30px;
  margin: 10px 0px;
}
.text-logo-footer {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-weight: lighter;
  font-size: 32px;
  color: #79aa8d;
}
.footer-hr {
  border: 1px solid #c2c2c2;
}
.footer-bottom {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(44, 44, 44);
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1000px) {
  header {
    padding: 2em 0.8em 0.5em 0.8em;
    display: grid;
    grid-auto-flow: column;
  }
  .container {
    width: 85%;
    margin: auto;
  }

  .navbar {
    float: right;
  }
  .navbar li {
    display: inline-block;
    padding: 0em 1.5em;
  }
  .navbar li a {
    transition: all 0.3s ease 0s;
  }
  .navbar li a:hover {
    color: rgb(68, 68, 68);
  }

  .banner-wrapper {
    display: block;
    margin: auto;
    height: 300px;
    width: 100%;
  }
  .banner-image img {
    max-height: 1000px;
  }
  .content-banner p {
    font-size: 50px;
  }
  .button-shop {
    cursor: pointer;
    margin-top: 20px;
  }
  button {
    padding: 9px 20px;
    font-size: 25px;
    border-radius: 10px;
  }

  .news-container-shop {
    max-height: 400px;
    height: 300px;
  }
  .news-image-shop {
    width: 100%;
    height: 100%;
  }
  .news-text-shop {
    margin-top: 3em;
    margin-left: 10em;
  }
  .news-text-shop h1 {
    font-weight: bolder;
    font-size: 50px;
  }
  .news-text-shop h3 {
    font-size: 35px;
    margin-top: 2px;
    margin-left: 4em;
  }

  .discover h1 {
    font-size: 50px;
  }
  .gallery-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a b c d";
  }
  .gallery-image {
    max-height: 100%;
  }

  .news-container {
    margin-top: 50px;
  }
  .news-image {
    width: 100%;
  }
  .news-text {
    margin-top: 10px;
  }
  .news-text h1 {
    font-size: 50px;
  }
  .news-text h3 {
    font-size: 35px;
    margin-top: 5px;
  }

  .visit-profile {
    height: 100%;
    width: 300px;
    margin: 0;
  }
  .visit-profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .visit-plant {
    display: flex;
    position: absolute;
    right: 0;
  }
  .visit-plant img {
    height: 250px;
  }
  .visit-text {
    position: absolute;
    text-align: center;
    align-self: center;
    width: 100%;
    margin: auto;
  }
  .visit-text h1 {
    font-size: 50px;
  }
  .visit-text p {
    color: black;
    display: block;
  }
  a.visit-about {
    display: block;
    margin-top: 20px;
    font-size: 25px;
  }

  .footer-top {
    display: flex;
    padding-top: 40px;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
    word-wrap: break-word;
  }
}
