@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  display: grid;
  grid-template-areas:
    "sb"
    "gc"
    "nl"
    "vp"
    "sf";
}

li,
a,
button {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.top-header {
  margin: 10px;
  order: 0;
  gap: 2em;
}
.container {
  width: 100%;
}
.site-banner {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  max-height: 400px;
  overflow: hidden;
  grid-area: sb;
}

.image-banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
}
.image-banner img {
  height: 50%;
  width: 50%;
  float: right;
}

.content-banner {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  position: absolute;
  padding: 10px;
}

.content-banner p {
  color: black;
  font-size: 1.3rem;
  margin-left: 0.5em;
}

.button-shop {
  display: flex;
  margin-top: 2em;
  margin-left: 0.5em;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 2px 8px;
  color: rgb(19, 18, 18);
  background-color: #81a05a;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: black;
  background-color: #9dc26f;
}

.text-banner {
  font-family: "Poppins", sans-serif;
  color: #81a05a;
  font-weight: bold;
}

.gallery-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
  grid-area: gc;
}
.discover h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 700px;
  display: block;
  margin: 10px 0px;
  padding: 30px;
}

.gallery-image {
  width: 100%;
}

.text-grid {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
}

.container-header {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-header {
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}
.logo-header h1 {
  font-size: 45px;
}

.text-logo {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  color: #79aa8d;
}

.navbar {
  justify-content: center;
  display: flex;
  gap: 1em;
  order: 2;
}
.news-container {
  display: flex;
  justify-content: center;
  margin: 3em 0em;
  width: 100%;
  grid-area: nl;
}

.news-page {
  display: flex;
  width: auto;
  flex-direction: column;
}

.news-image {
  position: relative;
  border-radius: 1em;
}

.news-image img {
  flex: 1;
  border-radius: 1em;
  margin: 10px;
  height: 100%;
  width: 100%;
}

.news-text {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-top: 1em;
  padding: 1em;
}
.news-text h1 {
  color: white;
  font-size: 1.3rem;
  margin-left: 1em;
}
.news-text h3 {
  color: white;
  font-size: 1rem;
  margin-left: 3em;
}

.visit-container {
  overflow: hidden;
  background-color: #e4e9e2;
  /* height: 250px; */
  width: 100%;
  grid-area: vp;
}
.visit-page {
  position: relative;
}
.visit-text {
  position: absolute;
  text-align: left;
  margin-left: 15em;
  margin-top: 4em;
}

.visit-images {
}

.visit-profile {
  position: absolute;
  float: left;
}

.visit-profile img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.visit-image {
  display: flex;
  float: right;
}

.footer {
  width: 100%;
  margin-top: 1em;
  background-color: rgb(44, 44, 44);
  grid-area: sf;
}
.footer-top {
  display: block;
  padding: 25px 25px;
}

.footer-col {
  width: 100%;
  margin-bottom: 30px;
}

.footer-col h1,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
}
.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-col li {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  cursor: pointer;
}
.footer-col p {
  font-size: 12px;
  font-weight: lighter;
}

.social-mail {
  display: none;
}
.footer-logo {
  color: white;
}

.social-icons {
  display: inline-block;
  width: 30px;
  color: #c2c2c2;
  line-height: 20px;
  justify-content: center;
}

.text-logo-footer {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-weight: lighter;
  font-size: 37px;
  color: #79aa8d;
}

.footer-hr {
  border: 1px solid #c2c2c2;
}
.footer-bottom {
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(44, 44, 44);
}
/* Media Query for Laptops and Desktops */
@media (min-width: 700px) {
  header {
    padding: 0em 8.5em;
  }
  .container-header {
    display: flex;
  }

  .container {
    width: 85%;
    margin: auto;
  }
  .logo-header {
    justify-content: start;
  }
  .navbar {
    float: right;
  }
  .navbar li {
    display: inline-block;
    padding: 0em 1.5em;
  }
  .navbar li a {
    transition: all 0.3s ease 0s;
  }

  .navbar li a:hover {
    color: rgb(68, 68, 68);
  }

  .content-banner p {
    font-size: 2.8rem;
  }
  .site-banner {
    max-height: 400px;
  }
  .image-banner img {
    height: 30%;
    width: 30%;
  }

  button {
    padding: 9px 20px;
    font-size: 20px;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
  }
  .news-page {
    width: 800px;
  }

  .news-text h1 {
    font-size: 2.5rem;
  }
  .news-text h3 {
    font-size: 1.5rem;
  }

  .news-image img {
    max-width: 1000px;
    height: 100%;
  }

  .footer {
    width: 100%;
  }
  .footer-top {
    display: flex;
    margin-top: 2em;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
    font-size: 16px;
    align-items: center;
    word-wrap: break-word;
  }

  .social-mail {
    display: inline-block;
    color: #c2c2c2;
  }
}
