$colorGray: #c3cfe2;
$colorBlog: #e17b77;
$colorTwitter: #00aced;
$colorLinked: #007bb6;
$colorFb: #3b5998;
$colorGit: #333;

@mixin DisplayAll() {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
