@import "_constants.scss";

* {
  @include DisplayAll();
}
body {
  background-color: $colorGray;
}
main {
  margin: auto;
}
.social {
  display: flex;
}

.social__blog::before {
  content: "\f5fc";
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.social__blog li {
  color: red;
}
