@import "_constants.scss";

* {
  @include DisplayAll();
}
body,
main {
  background-color: $colorGray;
}

.social {
  height: 100vh;
  position: relative;

  &__content {
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 80px;
    bottom: 0;
    right: 0;
    text-align: center;
  }
  &__icons {
    display: flex;
    flex-direction: column;

    cursor: pointer;
    overflow: hidden;
    margin: 10px 0px;
    height: 75px;
    width: 75px;
    background-color: yellow;
    // align-self: center;
    // justify-content: center;
    font-size: 25px;
    align-items: center;
    line-height: 75px;
  }
  &__icons:hover {
    width: 200px;
  }
  &__icons span {
  }
  // &__icons span:hover {
  //   font-size: 20px;
  //   line-height: 75px;
  // }
  & span {
    display: inline-block;
    text-align: center;

    // line-height: 10px;
  }
  // & span:hover {
  //   display: flex;
  //   color: green;
  // }
  &__blog {
    &::before {
      content: "\f5fc";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
    // &:hover {
    //   display: inline-block;
    //   width: 200px;
    // }
  }
  &__twitter {
    &::before {
      content: "\f099";
      font-family: "Font Awesome 5 Brands";
    }
  }
  &__linkedin {
    &::before {
      content: "\f08c";
      font-family: "Font Awesome 5 Brands";
    }
  }
  &__facebook {
    &::before {
      content: "\f39e";
      font-family: "Font Awesome 5 Brands";
    }
  }
  &__github {
    &::before {
      content: "\f09b";
      font-family: "Font Awesome 5 Brands";
    }
  }
}
