@import "_constants.scss";

@media (max-width: 480px) {
  body {
    background-color: $colorGray;

    main {
      display: flex;
    }
    .gallery {
      display: grid;
      box-sizing: border-box;
      grid-gap: 10px;
      padding: 30px 0px 30px 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "a" "b" "c" "d" "e" "f";

      &__image {
        height: 200px;
        object-fit: cover;
        border-radius: 1em;
        width: 100%;
      }
      &__item-a {
        grid-area: a;
      }
      &__item-b {
        grid-area: b;
      }
      &__item-c {
        grid-area: c;
      }
      &__item-d {
        grid-area: d;
      }
      &__item-e {
        grid-area: e;
      }
      &__item-f {
        grid-area: f;
      }
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 480px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
}
