@import "_constants.scss";

@mixin galleryImageMobile() {
  object-fit: cover;
  width: 400;
  border-radius: 1em;
}

@mixin galleryImageIpad() {
  object-fit: cover;
  width: 200px;
  border-radius: 1em;
}

/* Media Query for Mobile Devices */
@media (min-width: 200px) and (max-width: 480px) {
  body {
    background-color: $colorGray;
  }
  main {
    display: flex;
    width: 100%;
  }
  .gallery {
    display: grid;
    margin: auto;
    box-sizing: border-box;
    grid-gap: 10px;
    padding: 30px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a" "b" "c" "d" "e" "f";

    &__image {
      @include galleryImageIpad();
    }
    &__item-a {
      grid-area: a;
    }
    &__item-b {
      grid-area: b;
    }
    &__item-c {
      grid-area: c;
    }
    &__item-d {
      grid-area: d;
    }
    &__item-e {
      grid-area: e;
    }
    &__item-f {
      grid-area: f;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 480px) and (max-width: 1024px) {
  body {
    background-color: $colorGray;
  }
  .gallery {
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    padding: 30px 0px 30px 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a b" "c d" "e f";

    &__image {
      @include galleryImageIpad();
    }
    &__item-a {
      grid-area: a;
    }
    &__item-b {
      grid-area: b;
    }
    &__item-c {
      grid-area: c;
    }
    &__item-d {
      grid-area: d;
    }
    &__item-e {
      grid-area: e;
    }
    &__item-f {
      grid-area: f;
    }
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  .gallery {
    display: grid;
    box-sizing: border-box;
    grid-gap: 10px;
    padding: 30px 0px 30px 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "a b c" "d e f";

    &__image {
      @include galleryImage();
    }
  }
}
